
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Đăng Nhập</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="register-form">

                    <div id="alert" role="alert">

                    </div>
                    <div class="fields-grid">
                        <div class="styled-input">
                            <input type="text" id="username" placeholder="Nhập tên tài khoản" required="">
                        </div>

                        <div class="styled-input">
                            <input type="password" id="password" placeholder="Nhập mật khẩu" name="password" required="">
                        </div>

                        <button type="submit" class="btn subscrib-btnn" id="btnLogin">Login</button>
                        <div class="cart-icons">
                            <a class="btn btn-primary" style="background-color: #55acee;" id="btnLoginFB" href="/User/LoginFacebook" role="button"><i class="fab fa-facebook-f"></i> Facebook</a>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
